@page "/user/login"
@using Rova.Core.Features.Users.Login
@layout AuthLayout
@attribute [AllowAnonymous]

<PageTitle>Login</PageTitle>

<PageView>
  <Title>
        <div>
            <span class="pageTitle">Login</span>
            <NotSaved Title="Not Logged In" />
        </div>
    </Title>
  <SideView>
  </SideView>
  <Content>
              <EditForm Model="@login" OnValidSubmit="@HandleOnValidSubmit">
      <div class="flex w-full place-content-center">
                <div class="p-5  w-2/5">
                    <div class="text-xs text-gray-300 font-semibold pb-3 uppercase">
                        Log in to your account
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-1 gap-5 ">
                        <TextInput Label="Email" @bind-Value="@login.Email" />
                        <TextInput Type="password" Label="Password" @bind-Value="@login.Password" />
                    </div>

                    <div class="py-5  ">
                        <Button Text="Login" Wide="true" ButtonType="primary" OnClick="@HandleOnValidSubmit" />
                    </div>
                </div>

      </div>
            </EditForm>
  </Content>
</PageView>

@code {
    LoginCommand login = new();

    async void HandleOnValidSubmit()
    {
    }
}
